* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}



body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff; /* 배경색 추가 (선택 사항) */
}

/* 중앙에 배치할 컨테이너 설정 */
.container {
  position: relative;
  width: 390px;
  height: 100vh; /* 필요한 높이에 맞게 설정 가능 */
  min-height: 30rem;
  background-color: #F5F5F5; /* 배경색 설정 (선택 사항) */
  overflow: hidden;
}



a {
  text-decoration: none;
  color: inherit;
}

